button {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  background: white;
  border-radius: 3px;
  border: 1px solid var(--color-border-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

button.small {
  width: 231px;
  padding: 16px 0;
}

button.medium {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.25px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 3px 0;
  min-width: 220px;
}

// button.secondary {
//   background: var(--colour-secondary);
//   border: 1px solid var(--colour-secondary);
//   color: white;
// }
