$scrollbar-width: 8px;
$thumb-color: #e4e2de;
$thumb-hover-color: #efedea;
$track-color: #fff;
$border-radius-value: 4px;

// Custom Scrollbars
* {
  // Chrome, Safari, newer versions of Opera
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: $border-radius-value;

    &:hover {
      background-color: $thumb-hover-color;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
    border-radius: $border-radius-value;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}
